.welcome-message {
    color: darkblue;
    font-weight: 300;
}

.explanation-message {
    color: purple;
}

.button-message {
    color:blueviolet;
}

/* Enabled button style */
.enabled-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: #ffffff; /* White text */
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 10px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth color transition */
}

/* Disabled button style */
.disabled-button {
    background-color: #f44336; /* Red */
    border: none;
    color: #cccccc; /* Light gray text */
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 10px; /* Rounded corners */
    cursor: not-allowed; /* Cursor changes to not-allowed */
}
