.welcome-message {
    color: darkblue;
    font-weight: 300;
}

.explanation-message {
    color: purple;
}

.button-message {
    color:blueviolet;
}

.enabled-button {
    background-color: #4CAF50;
    border: none;
    color: #ffffff;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.disabled-button {
    background-color: #f44336;
    border: none;
    color: #cccccc;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 10px;
    cursor: not-allowed;
}
